.general_description {
  margin-top: 1.2em;
  width: 90%;
}

.button_p {
  margin-top: 3em;
  font-size: 1.4em;
  padding: 0;
}

.description li {
  list-style: none;
}

.description {
  font-size: 1.2em;
}

.contact {
  margin-top: 3em;
}
